.contacts {

}
.contacts__title {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}
.contacts__type {
    margin-top: 24px;
    display: flex;
    gap: 114px;
}
.number a {
    font-size: 60px;
    line-height: 60px;
    text-decoration: none;
    color: #121212;
}
.number:before {
    content: "";
    display: block;
    margin-bottom: 27px;
    margin-left: -5px;
    width: 24px;
    height: 24px;
    background-image: url(../resources/phone_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.mail a {
    font-size: 60px;
    line-height: 60px;
    text-decoration: none;
    color: #121212;
    opacity: 1;
    border-bottom: 2px rgba(18, 18, 18, 1) solid;
}
.mail:before {
    content: "";
    display: block;
    margin-bottom: 19px;
    width: 24px;
    height: 24px;
    background-image: url(../resources/post_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.number a:hover {
    opacity: 0.5;
}
.mail a:hover {
    opacity: 0.5;
}
@media (max-width:1199px) {
    .number a {
        font-size: 45px;
    }
    .mail a {
        font-size: 45px;
    }
}
@media (max-width:767px) {
    .contacts__title {
        font-size: 14px;
        line-height: 19px;
    }
    .contacts__type {
        flex-direction: column;
        gap: 23px;
    }
    .number a {
        font-size: 35px;
        line-height: 46px;
    }
    .number:before {
        width: 16px;
        height: 16px;
        margin-bottom: 21px;
    }
    .mail a {
        font-size: 35px;
        line-height: 46px; 
    }
    .mail:before {
        width: 16px;
        height: 16px;
        margin-bottom: 23px;
    }
}



