.feedbacks {
    padding-top: 150px;
    padding-bottom: 157px;
}
.feedbacks__title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.feedbacks__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
    column-gap: 50px;
}
.feedback {
    max-width: 528px;
    /* width: calc(50% - 25px); */
}
.feedback__name {
    font-size: 45px;
    line-height: 61px;
}
.feedback__text {
    margin-top: 14px;
    font-size: 22px;
    line-height: 30px;
}
.feedback:nth-child(even) {
    max-width: 505px;
}
.feedback:last-child:nth-child(odd) {
    max-width: 861px;
}
@media (max-width:1199px) {
    .feedbacks {
        padding-top: 117px;
        padding-bottom: 120px;
    }
    .feedbacks__list {
        column-gap: 10px;
        row-gap: 80px; 
    }
    .feedback {
        width: calc(50% - 5px);
    }
    .feedback__name {
        font-size: 35px;
        line-height: 48px;
    }
    .feedback__text {
        margin-top: 25px;
        font-size: 20px;
        line-height: 27px;
    }
    .feedback:last-child:nth-child(odd) {
        width: 100%;
        max-width: 694px;
    }
}
@media (max-width:767px) {
    .feedbacks {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .feedbacks__title {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 22px;
    }
    .feedbacks__list {
        row-gap: 76px; 
    }
    /* .feedback {
        width: 100%;
    } */
    .feedback__name {
        font-size: 25px;
        line-height: 34px;
    }
    .feedback__text {
        margin-top: 10px;
        font-size: 16px;
        line-height: 22px;
    }
}
@media (max-width:500px) {
    .feedback {
        width: 100%;
    } 
}